/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* FIM RESET GLOBAL */

body {
  width: 100vw;
  height: auto;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 80vw;
  max-width: 1000px;
  height: auto;
  background: rgb(208, 47, 117);
  background: radial-gradient(circle, rgba(208, 47, 117, 1) 0%, rgba(11, 48, 203, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

#temp {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.matriz {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  padding: 50px;
}

#buttonR {
  padding-bottom: 50px;
}

.function {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#randon {
  width: 250px;
  height: 60px;
  background-color: aqua;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

/* Estilos gerais */
.cardStyle {
  width: 100px;
  height: 100px;
  /* Cria um efeito 3D */
  display: inline-block;
  border: #c5c5c5 solid 1px;
  border-radius: 5px;
  background-size: cover;
  /* Ajusta a imagem para cobrir todo o card */
  background-position: center;
  /* Centraliza a imagem no card */
}

.cCard {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  /* Efeito de virar suave */
  transform-style: preserve-3d;
  position: relative;
}


.fCard,
.vCard {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* Ajusta a imagem para cobrir todo o card */
  background-position: center;
  /* Centraliza a imagem no card */
  position: absolute;
  backface-visibility: hidden;
  /* Oculta a face de trás quando virada */
  background-size: cover;
  border-radius: 10px;
}

.vCard {
  transform: rotateY(180deg);

}

.card-flipped .cCard {
  transform: rotateY(180deg);
  /* Gira a carta para mostrar o verso */
}